@font-face {
	font-family: Tangerine;
	font-style: normal;
	font-weight: bold;
	src:
		url("//fonts.assets.djsp.eu/tangerine/bold/woff2") format("woff2"),
		url("//fonts.assets.djsp.eu/tangerine/bold/woff") format("woff"),
		url("//fonts.assets.djsp.eu/tangerine/bold/ttf") format("truetype");
}
