@font-face {
	font-family: Tangerine;
	font-weight: normal;
	src:
		url("//fonts.assets.djsp.eu/tangerine/regular/woff2") format("woff2"),
		url("//fonts.assets.djsp.eu/tangerine/regular/woff") format("woff"),
		url("//fonts.assets.djsp.eu/tangerine/regular/ttf") format("truetype");
}
